<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9DpeZDGAyepzFtrpjMTwELTBqIVKeo2A</string>
	<key>GCM_SENDER_ID</key>
	<string>769141779296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ejastech.oyatest</string>
	<key>PROJECT_ID</key>
	<string>oyatest-596ff</string>
	<key>STORAGE_BUCKET</key>
	<string>oyatest-596ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769141779296:ios:384ff5b6d70d29d4d78c05</string>
</dict>
</plist>